<?xml version="1.0"?>
<launch>
	<node pkg="generate_navmap" type="generate_filteredmap_node2" name="generate_filteredmap_node2" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    	<rosparam file="$(find kamui_gui)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    	<rosparam file="$(find kamui_gui)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    	<rosparam file="$(find kamui_gui)/config/local_costmap_params.yaml" command="load" />
    	<rosparam file="$(find kamui_gui)/config/global_costmap_params.yaml" command="load" />
    	<rosparam file="$(find kamui_gui)/config/base_local_planner_params.yaml" command="load" />
	</node>

<!--以下遠隔操作ノード-->

	<include file="$(find ps3joy)/launch/ps3.launch"/>
	<node pkg="kamui_teleop" type="kamui_teleop_node" name="kamui_teleop_node"/>

<!--
	<node pkg="laserscan_to_pointcloud" type="laserscan_to_pointcloud_gimbal_node" name="laserscan_to_pointcloud_gimbal_node"/>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node01"/>
-->
</launch>
