<?xml version="1.0"?>
<launch>
	<!--include file="$(find hector_mapping)/launch/mapping_default.launch"/-->
	<include file="$(find kamui_gui)/launch/hector_mapping.launch"/>

	<node pkg="thermo_range" type="thermo_range_node" name="thermo_range_node" >
		<param name="range" type="double" value="0.6"/>
		<param name="field_of_view" type="double" value="0.6"/> 
	</node>

	<node pkg="rviz" type="rviz" name="rviz" />
<!--
	<node pkg="frontier_thermocam" type="frontier_thermocam_pub_node" name="frontier_thermocam_pub_node" />
-->
	<include file="$(find kamui_gui)/launch/save_map.launch"/>
<!--
	<node pkg="image_view" type="image_view" name="camera_image_view" >
		<param name="image" type="string" value="/usb_cam/image_raw" />
	</node>
-->


	<node pkg="generate_navmap" type="generate_filteredmap_node" name="generate_filteredmap_node" />
<!--
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    	<rosparam file="$(find kamui_gui)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    	<rosparam file="$(find kamui_gui)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    	<rosparam file="$(find kamui_gui)/config/local_costmap_params.yaml" command="load" />
    	<rosparam file="$(find kamui_gui)/config/global_costmap_params.yaml" command="load" />
    	<rosparam file="$(find kamui_gui)/config/base_local_planner_params.yaml" command="load" />
	</node>
-->

</launch>
